<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="../styles/styles.css"/>

    <script src="../components/angular/angular.js"></script>

    <script src="app.js"></script>
    <script src="modules/controllers/weatherForcastController.js"></script>
    <script src="modules/services/weatherForecastService.js"></script>


    <title>Weather Forcast</title>
</head>
<body>
   <div ng-app="weatherForcast">
        <div ng-controller="WeatherController">
        <h1> Weather Forcast</h1>
        <div id="weather">
        <form ng-hide="show">
            <h3>The Weather App</h3> 
            <label>Enter city</label> <input type ="text" ng-model = "city"> <br/>
            <label>Enter country</label> <input type ="text" ng-model = "country"> <br/>
            <button type="submit" ng-click="getWeather()">weather</button> </br>
        </form>
        <div ng-show = "show">
            <h3>{{ title }} </h3></br>
            Date : {{ condition.date}} </br>
            <img ng-src="{{condition.image}}" /><br />
            <b>Current Conditions:</b><br />
            {{ condition.text }} , {{ condition.temp }} C<BR /> <BR />
            <b>Forecast:</b><BR />
            <ul>
            <li ng-repeat="forecast in forecasts">
                {{ forecast.date }} ({{ forecast.day}}) - HIGH: {{ forecast.high}}&degC, Low: {{ forecast.low}}&degC
                <div class="italic">
                    {{ forecast.text}}
                </div>
            </li>
            <ul>
            <div class="button">
                <button ng-click="back()">back</button>
            </div>
        </div>
    </div>
</div>
</div>

</body>
</html>